body{
  
    margin:0;
    padding:0;
    background-size: cover;

 }

 .order_wrapper{
    height:100vh;
    width:100vw;
    display:flex;
  

 }
 
 .sidenav{
    height:100%;
border:1px solid pink;
    width:250px;
 }
 .main{
    height:100%;
 
    width:70%;
    overflow: scroll;

padding-left: 30px;


 }

 


 .main_content{
    height:350px;
padding-right:10px;
    display: flex;
    flex-direction: column;
  gap:15px;
    justify-content: center;
 }
 .main_table{
border:1px solid blue;
height:250px;

 }
 
 .main_table table{
   width:100%;
 }
 th{
    text-align: left;
    padding:10px;
 }
 td{
    font-size:25px;
    padding:5px;
 }
 .main_top{
    font-size:25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
 height:90px;
 }
 .main_top input{
outline:none;
border:1px solid rgb(212, 211, 211);
height:25px;
width:200px;
 }
 .main_top button{
    border:none;
    background:none;
 }


 .sidenav{
    display:flex;
    flex-direction: column;
    gap:10px;
 }
 .sidenav_logo{
    height:180px;
   
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .sidenav_logo img{
    height:70%;
 }
 .sidenav_links{
    display:flex;
    flex-direction: column;
    justify-items: center;

    width:100%;
  
  
 }
 .sidenav_links a{
    height:40px;
    font-size:20px;
    padding-left:40px;
    display: flex;
    align-items: center;


 }
 a:hover{
    background:rgb(220, 219, 219);
 }
.main_top .fa-search
{
    font-size:25px;
    color:rgb(85, 84, 84);;
}

@media only screen and (max-width: 780px) {    
    .sidenav{
       display:none;
    
    }
    
    .main_top{
        flex-direction: column;
        gap:10px;
        justify-content: center;
        padding-top:20px;
    }
    .main{
       width:100%;
    
       padding-right:20px;
      
    }
    }