
 body{
  
    margin:0;
    padding:0;
    background-size: cover;
 }

 .login_wrapper{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 
 .login_container{
  /* width: 100%; */
    max-width:280px;
   
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:10px;
    border:7px solid rgb(214, 212, 212);

 }
 .login_header{
    /* display: flex; */
    height:160px;
    color:rgb(131, 133, 134);

 }

 .login_header_logo{
    float:right;
  
 }
 .login_header_text{
    text-align: justify;
    font-size: 25px;
 }
 
 .login_form{
    width:100%;
    height:230px;
    display:flex;
    flex-direction: column;
    gap:60px;
 }
 .login_logo{
    height:130px;
    width:130px;
 }

  input[type="text"], input[type="password"]{
height:35px;
outline:none;
border:1px solid rgb(224, 223, 223);
font-size:20px;
 }
 input[type="submit"]
 {
    height:40px;
    border:1px solid rgb(224, 223, 223);
    cursor:pointer;
    font-size:20px;
 }
 input[type="submit"]:hover{
    background:rgb(175, 175, 175);
    color:white;
 }
 .form_input_group{
    display: flex;
    flex-direction: column;
    gap:25px;
 }
 