body{
  
    margin:0;
    padding:0;
    background-size: cover;

 }

 .dashboard_wrapper{
    height:100vh;
    width:100vw;
    display:flex;
  

 }
 
 .sidenav{
    height:100%;
    border:1px solid rgb(195, 195, 195);
    width:200px;
 }
 .main{
    height:100%;
 
    width:80%;
    overflow: scroll;

padding-left: 30px;


 }

 .main_top{
    height:auto;
    padding-top:30px;
  padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  gap:30px;
    justify-content: center;

 }
 .main_middle{
    height:auto;
 
 padding-right:15px;
 padding-bottom: 30px;
      display: flex;
      flex-direction: column;
    gap:15px;
      justify-content: center;
      
 }

 .main_chart{
    height:250px;
    overflow: scroll; 
   
 }
 .chart{
   width:1000px;
   height:95%;
   border :1px solid rgb(183, 185, 183);
 }
 .main_bottom{
   
padding-right:10px;
padding-bottom: 20px;;
    display: flex;
    flex-direction: column;
  gap:15px;
    justify-content: center;
  
 }
 .main_table{

   height: 400px;
overflow: scroll; 
 }
 
 .main_table table{
   width:1000px;
 
 
   overflow: scroll; 
 }
 th{
   text-align: left;
   padding:10px;
   border-bottom: 1px solid black;
   position: sticky;
   top:0;
  background:white;
}


td{
   font-size:18px;
   padding:5px;
   color:grey;
}
 .title{
    font-size:25px;
    color:rgb(144, 142, 142);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:85%;
 
 }
 .main_top_content{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:70px;
    width:80%;
 }
 .card{
    height:80px;
    width:250px;
    border:1px solid rgb(213, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    padding-left:10px;
 }

 .sidenav{
   display:flex;
   flex-direction: column;
   gap:10px;
}
.sidenav_logo{
   height:180px;
  
   display:flex;
   justify-content: center;
   align-items: center;
}
.sidenav_logo img{
   height:70%;
}
.sidenav_links{
   display:flex;
   flex-direction: column;
   justify-items: center;

   width:100%;
 
 
}
.sidenav_links a{
   height:40px;
   font-size:20px;
   padding-left:40px;
   display: flex;
   align-items: center;
   text-decoration: none;
   color:grey;
}


@media only screen and (max-width: 780px) {    
.sidenav{
   display:none;

}

.main_top_content{
   flex-direction: column;
   justify-content: center;
   gap:20px;
   width:100%;
 
}
.card{
   width:90%;
   text-align: center;
}
.main{
   width:100%;

   padding-right:20px;
  
}
}


.toggle {
   position : relative ;
   display : inline-block;
   width : 50px;
   height : 20px;
   border-radius: 30px;
   border: 2px solid rgb(187, 186, 186);
}
      
/* After slide changes */
.toggle:after {
   content: '';
   position: absolute;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: rgb(203, 201, 201);
   top: 0px;
   left: 0px;
   transition:  all 0.5s;
}
      
/* Toggle text */
p {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
      
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
   left : 30px;
}
      

      
/* Checkbox vanished */
.checkbox {
   display : none;
}